* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "BMWBold";
  src: url("../assets/fonts/BMWTypeNext-Bold.20210426144302.ttf");
}

@font-face {
  font-family: "BMWLight";
  src: url("../assets/fonts/BMWTypeNext-Light.20210426144302.ttf");
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4D4D4D;
}

body {
  height: 100%;
  overflow: hidden;
}

body, input, textarea, button {
  font: 400 1rem 'BMWLight', 'BMWBold';
  border: none;
}

@media (min-width: 1080px) {
  html {
    font-size: 5rem;
  }
}

@media (min-width: 720px) {
  html {
    font-size: 80.5%;
  }
}

.container .main-header {
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-header .contacts {
  cursor: pointer;
}

.container .main-header .contacts .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
}

.container .main-header .contacts .phone-number img {
  width: 2rem;
  padding-right: 10px;
  color: #262626;
}

.container .main-header .contacts .tour {
  display: none;
}

.container .main-header .contacts .whatsapp-contact {
  position: absolute;
  top: 90%;
  left: 0.5rem;
  background-color: #25D366;
  padding: 5px 8px;
  border-radius: 40px;
}

.container .main-header .contacts .whatsapp-contact img {
  width: 2rem;
}

.container .main-header .contacts .whatsapp-contact .whatsapp-text {
  display: none;
}

.container .main-header .bmw-logo {
  width: 4rem;
}

.container .navigation-menu {
  display: none;
}

@media (min-width: 720px) {
  .container {
    margin: 1rem 3rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .container .header-wrapper {
    font-size: 12px;
  }
  .container .header-wrapper .main-header {
    margin-bottom: 1rem;
  }
  .container .header-wrapper .main-header .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .header-wrapper .main-header .contacts .phone-number {
    padding: 8px 18px;
    background-color: #000000;
    color: #FFFFFF;
  }
  .container .header-wrapper .main-header .contacts .phone-number img {
    color: #FFFFFF;
  }
  .container .header-wrapper .main-header .contacts .tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 8px 18px;
    margin-left: 20px;
  }
  .container .header-wrapper .main-header .contacts .tour img {
    width: 2rem;
  }
  .container .header-wrapper .main-header .contacts .tour span {
    margin-left: 4px;
  }
  .container .header-wrapper .main-header .contacts .whatsapp-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
    position: unset;
    border-radius: 0;
    padding: 8px 18px;
  }
  .container .header-wrapper .main-header .contacts .whatsapp-contact .whatsapp-text {
    display: block;
    padding-left: 2px;
    color: #FFFFFF;
  }
  .container .header-wrapper .main-header .bmw-logo {
    width: 5rem;
  }
  .container .header-wrapper .navigation-menu {
    display: block;
  }
  .container .header-wrapper .navigation-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1rem;
    list-style: none;
  }
  .container .header-wrapper .navigation-menu ul li {
    margin-right: 2.3rem;
  }
  .container .header-wrapper .navigation-menu ul li button {
    font-weight: 600;
    height: 0;
    color: #000000;
  }
  .container .header-wrapper .navigation-menu .arrow-left, .container .header-wrapper .navigation-menu .arrow-right {
    cursor: pointer;
    width: 1rem;
    position: absolute;
    top: 20rem;
  }
  .container .header-wrapper .navigation-menu .arrow-left {
    left: 1rem;
  }
  .container .header-wrapper .navigation-menu .arrow-right {
    right: 1rem;
  }
  .container .header-wrapper .navigation-menu .menu-wrapper {
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #666666;
  }
  .container .header-wrapper .navigation-menu .menu-wrapper .cars-menu .menu-socialmidia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 12px 0;
  }
  .container .header-wrapper .navigation-menu .menu-wrapper .cars-menu .menu-socialmidia p {
    padding-right: 10px;
  }
  .container .header-wrapper .navigation-menu .menu-wrapper .cars-menu .menu-socialmidia img {
    width: 1.5rem;
    padding-left: 2px;
  }
}
/*# sourceMappingURL=header.css.map */