@import "../../styles/global";

form {
  height: 40vh;

  .form-content {
    margin: 1rem;
    padding: 10px;

    .form-title {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      h2 {
        font-weight: 400;
      }

      img {
        width: 2.5rem;
        padding-right: 7px;
      }
    }

    input{
      width: 100%;
      border-bottom: solid 1px $main-gray;
      padding: 10px 0 2px 0;
      outline: none;
    }

    select{
      width: 100%;
      border-bottom: solid 1px $main-gray;
      padding: 10px 0 2px 0;
      outline: none;
    }
  }

  .policy-therms {
    margin-top: 2rem;
    text-align: center;

    label {
      padding-left: 10px;
    }

    :hover{
      color: $blue;
    }
  }

  button {
    margin-top: 2rem;
  }
}



